@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: gray;
  padding: 40px;
}

.box {
  width: 390px;
  height: 500px;
  background-color: white;
  /* width: 194px; */
  border-radius: 4px;
  padding: 0 0 45px 0;

}

.image {
  padding: 25px;
}

.image img {
  border-radius: 7px;

}

.content {
  padding: 13px;
  font-family: "Poppins", serif;
  /* font-weight: 700;
       font-style: normal; */
}

.content p {
  font-size: 13px;
  color: gray;
}

.capsules {
  padding: 0 28px 0 14px;
}

.capsules span {
  border: 2px solid black;
  padding: 1px 4px;
  border-radius: 7px;
  font-size: 12px;

  font-family: "Poppins", serif;
}

.button {
  text-align: center;
}

.button button {

  padding: 7px;
  border-radius: 9px;
  background-color: rgb(196, 196, 226);
  color: blue;
}